{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">We Tell Stories that matters...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam est arcu, condimentum ut neque a, pellentesque dignissim sem. Maecenas arcu odio, vehicula at justo ac, sodales faucibus massa. Sed a porta sapien. Nulla aliquam, tortor vitae facilisis pharetra, elit diam dignissim arcu, eu feugiat turpis urna nec leo. Suspendisse eu iaculis ipsum. Aliquam volutpat et est eget pellentesque. Quisque eleifend interdum ligula ut consectetur. Pellentesque pharetra sollicitudin nulla at placerat. Praesent purus mi, viverra eu mollis a, pharetra ac ipsum. Vestibulum vel faucibus quam, at ultrices sem. Cras commodo sapien eu suscipit consectetur. Nam est nisl, molestie id ligula quis, aliquam fringilla nibh. In hac habitasse platea dictumst.
                        <br><br>
                        Etiam at risus id est tincidunt gravida ut a augue. In a magna imperdiet, bibendum ipsum vitae, sodales orci. Nullam fermentum urna lacus, eget dapibus diam consequat eu. Suspendisse commodo posuere metus, at pretium risus fermentum sit amet. In ac fermentum erat. Donec et mauris placerat, aliquet sem gravida, aliquet turpis. Vestibulum tincidunt varius risus blandit auctor. Maecenas accumsan vehicula felis, vel fermentum arcu fringilla a. Curabitur pretium laoreet eleifend. Nullam nec nisi ut magna fermentum rhoncus ut ut leo. Fusce tempor ex ac ante tincidunt scelerisque. Proin accumsan tincidunt nibh, eu mollis ante semper non. Curabitur metus nibh, finibus sit amet tempus condimentum, sollicitudin et tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ut est sagittis, maximus metus ut, dapibus risus. 
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}