{% extends "base.html" %}

{% load static %}

{% block content %}

    <body>
        <!-- Header-->
        <header class="bg-warning py-1">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <p class="lead fw-normal text-success-50 mb-0">Feel the magic</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                    
                    {% for product in products %} 
                        <div class="col">
                            {% if product.is_sale %}
                                <div class="card h-100 product-card" product-url="{% url 'product' product.id %}" >
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                    <!-- Product image-->
                                    <img class="card-img-top product-image p-2" src="{{ product.image.url }}" alt="prdouct-image" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <p class="fw-bolder">{{ product.name }}</p>
                                            <!-- Product price-->
                                            <strike> ${{ product.price }} </strike>
                                            </br>
                                            <small><b>${{ product.sale_price }}</b></small>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="card h-100 product-card" product-url="{% url 'product' product.id %}" >
                                    <!-- Product image-->
                                    <img class="card-img-top product-image p-2" src="{{ product.image.url }}" alt="product-image" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <p class="fw-bolder">{{ product.name }}</p>
                                            <!-- Product price-->
                                            <small><b>${{ product.price }}</b></small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <br><br><br>
        </section>

{% endblock  %}