{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-light py">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-dark">
                <h1 class="display-4">Login</h1>
            </div>
        </div>
    </header>

    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <form method="POST" action="{% url 'login' %}"> 
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="password" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>

                    <div>
                        New to WishBox. Please <a href="{% url 'register' %}">register</a> here.
                    </div>
                </div>
            </center>
        </div>
        
    </div>

    

{% endblock %}