{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-warning py-3">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-dark">
                <h1 class="display-4">Register</h1>
                <p class="lead">Magic in Your hands!</p>
            </div>
        </div>
    </header>

    <br>
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <form method="POST" action="{% url 'register' %}"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <br>
                    <button class="btn btn-primary" type="submit">Register</button>
                    
                </form>
                <br>
            </div>

        </div>
        
    </div>

    <br><br><br><br><br><br><br>

{% endblock %}