{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-warning py">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-dark">
                <p class="lead fw-normal text-dark-50 mb-0">Your Search results...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                   
                </div>
            </center>
        </div>
    </div>

{% endblock %}