{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-light">
                <h1 class="display-4">Orders Shipped</h1>
            </div>
        </div>
    </header>

    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <h3>Shipped Items</h3>
                    <br>
                    <table class="table table-bordered table-hover">
                        <thead class="table-info">
                          <tr>
                            <th scope="col">Order Id</th>
                            <th scope="col">Price</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Date Shipped</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                            <tr data-url="{% url 'orders' item.id %}">
                                <td>{{ item.id }}</td>
                                <td>₹ {{ item.amount_paid }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.shipped_date }}</td>
                              </tr>
                            {% endfor %}
                          
                        </tbody>
                      </table>
                </div>
            </center>
        </div>
        
    </div>
    <br><br><br><br><br><br>

{% endblock %}

{% block script %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
