{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-light">
                <h1 class="display-4">Orders Shipped</h1>
            </div>
        </div>
    </header>

    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <p>Orders shipped</p>
                </div>
            </center>
        </div>
        
    </div>

    

{% endblock %}