{% extends "base.html" %}

{% load static %}

{% block content %}

    <body>
        <!-- Header-->
        <header class="bg-warning py-2">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-dark">
                    <h1 class="display-4">Processing Your Order...</h1>
                </div>
            </div>
        </header>
        <!-- Page Content -->
        <br><br>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <div class="card text-center">
                            <div class="card-header bg-warning py-2">
                                <h3>
                                    Order Summary
                                </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-muted">Review your orders</h5>
                                <p class="card-text">
                                    {% for product in cart_products %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h4 class="card-title">{{ product.name }}</h4>
                                                        <p class="card-text">
                                                            {% if product.is_sale %}
                                                                ${{ product.sale_price }}
                                                            {% else %}
                                                                ${{ product.price }}
                                                            {% endif %}
                                                        </p>
                                                        <small class="text-muted">Quantity:
                                                            {% for key, value in quantities.items %}
                                                                {% if key == product.id|slugify %}
                                                                    {{ value }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <img style="width: 100px; height: 100px; float: right;" class="card-img-top" src="{{ product.image.url }}" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </p>

                                <div class="row">
                                    <button type="submit" class="btn btn-outline-primary btn-block ">Pay Now</button>
                                </div>
                            </div>
                            <div class="card-footer text-body-secondary bg-warning py-2">
                                <b>Total: $ {{ totals }}</b>
                            </div>
                        </div>
                    </center>
                    <br><br>
                </div>

                <div class="col-md-3">
                        <div class="card text-center">
                            <h5 class="card-header">Shipping details</h5>
                            <div class="card-body">
                                Name: {{ shipping_info.shipping_full_name }}<br/>
                                Email: {{ shipping_info.shipping_email }}<br/>
                                Address 1: {{ shipping_info.shipping_address1 }}<br/>
                                Address 2: {{ shipping_info.shipping_address2 }}<br/>
                                City: {{ shipping_info.shipping_city }}<br/>
                                State: {{ shipping_info.shipping_state }}<br/>
                                Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
                                Country: {{ shipping_info.shipping_country }}<br/>
                                <br/>
                                <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                            </div>
                        </div>
                </div>

                    <div class="col-md-3">
                        <div class="card text-center">
                            <h5 class="card-header">Billing Info</h5>
                            <div class="card-body">
                                <form method="POST" action="{% url 'process_order' %}">
                                    {% csrf_token %}
                                    {{ billing_form.as_p }}
                                    <br/>
                                    <button type="submit" class="btn btn-outline-primary btn-block ">Pay Now</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    
            </div>
            <br><br>
        </div>
        <br>

{% endblock %}