{% extends "base.html" %}

{% block content %}

    <!-- Header-->
    <header class="bg-warning py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-dark">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0 glow" id="header-paragraph">We Tell Stories that matters...</p>
            </div>
        </div>
    </header>

    <br><br><br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <div class="card shadow-lg border-0">
                        <div class="card-body p-4">
                            <h2 class="card-title mb-3"></h2>
                            <div class="card-text">
                                <p align="justify" class="text-muted hover-paragraph">
                                    WishBox began with a simple dream: to create a place where objects are more than just 
                                    things. They are stories waiting to be told. We believe that every product carries a 
                                    unique narrative, a journey, and a purpose.
                                    <br><br>
                                    From the artisan who lovingly crafts a piece to the customer who finds it a perfect fit, 
                                    we are committed to sharing these stories. WishBox is not just an online store; 
                                    it's a platform where passions are ignited, dreams are realized, and connections are forged.
                                    <br><br>
                                    With each purchase, you're not just acquiring a possession but becoming a part of an 
                                    ever-evolving story. Let WishBox be the first chapter of your next adventure.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </center>
        </div>
    </div>

    <br><br><br>

{% endblock %}